<div class="row mar-v-md borde body1 pad-v-md">
	<div class="col-md-12 text-center">
		<a href="#include" id="bottom" class="include glyphicon glyphicon-triangle-bottom cl-primary font-lg"></a>
	</div>
	<div class="col-md-offset-1 col-md-5 pad-v-md">
		<span class="twhite blackBorderText">
		<h1>SITE MADE WITH <br>ANGULAR JS <br>PHP <br>MySQL</h1>	
		<br>
		<h2 class="twhite blackBorderText"><p>Here you'll be able to see some of the basic Angular JS methods in action. 
		<br>This is a single page application, there's no need to reload every time you navigate the differents views. Awesome!</p></h2>
		</span>
	</div>
</div>

	<div class="mar-v-lg bg-dark" id="include"></div>
		    	<ng-include src="'views/homeInclude.html'" autoscroll></ng-include>	

<!--<div ng-include=" 'views/examples.html' " autoscroll></div>-->